.git
.playwright-cli
.output
*.tar
*.tar.gz
*.tgz
*.zip
artifacts
backups
docs
node_modules
bun.lockb
*.png

apps/web/dist
apps/web/.output
apps/web/.vinxi
apps/web/node_modules

apps/worker/dist
apps/worker/node_modules

packages/*/node_modules
packages/*/dist
